<a id="top"></a>
<div id="header">
    <div class="nav-bg">
        <div class="nav">
            <div class="logo">
                <a href="{{ site.base }}/"><i class="fab fa-github fa-lg"><span>{{ site.blog_name }}</span></i></a>
            </div>
            <ul class="nav-menu">
                <li><a href="{{ site.base }}/"><i class="fas fa-home"></i><span>Home</span></a></li>
                <li><a href="{{ site.base }}/pages/tags.html"><i class="fas fa-tags"></i><span>Tags</span></a></li>
                <li><a href="#"><i class="fas fa-heart"></i><span>About</span></a></li>
            </ul>
        </div>
    </div>
    <div class="poster"></div>
    <div class="fix-title">{% if page.title %}{{ page.title }}{% endif %}</div>
</div>